[Desktop Entry]
Name=Xearth
Comment=Earth image in X root window
Comment[pl]=Widok Ziemi jako tło X
Icon=xearth
Exec=xearth -fork
Terminal=false
Type=Application
Categories=Amusement;
# vi: encoding=utf-8
